header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

header{
	color: white; /*Change color of header from grey to white*/
	background-image: url("sunset.jpg"); /*Add background image*/
	background-repeat: no-repeat; /*Remove picture repeats*/
	background-position: right; /*Position background to right of page*/
	background-color: rgb(0, 0, 55); /*Add background color*/
}

body {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("ptrbackground.jpg"); /*Add background image*/
	background-color: #00569f; /*Add proper background color*/
	min-width: 600px; /*Set minimum width of page*/
}

nav ul {
	float: left; /*Use float to place navigation next to main content*/
	font-size: 1.2em;
	list-style: none; /*Remove bullets on navigation bar*/
	margin-top: 20px; /*Space between top of navigation bar and header*/
	padding-left: 20px;
}

/* Style Wrapper - Background and Size */
#wrapper {
	background-color: rgb(141, 197, 228);
	margin: auto 10% auto 10%;
}

/* Style Navigation Links */
nav a:link{
	text-decoration: none; /*Remove underline*/
	color: rgb(0, 0, 55); /*Change to darker color*/
	font-weight: bold; /*Bold text*/
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #FFFFFF;
}

/* Style Main Content */
#content{
	background-color: white; /*Add white background*/
	padding-top: 1px; /*Extend white background on top to touch header*/
	margin-left: 190px; /*Add margin to left of content*/
	padding-left: 30px; /*Add some white space next to navigation bar*/
	padding-right: 10px; /*Add some white space next to content*/
}

h1 {
	margin-bottom: 0;
	padding: 10px;
}

h2 {
	color: #3399CC;
}

h1, h2 {
	font-family: Georgia, "Times New Roman", serif;
}

/* Format Image of Coast - style layout and whitespace */
#content img{
	float: left; 
	margin-right: 30px; /*Add space between photo and text*/
}

/* Add Marker Image for Bullets and Indent */
#content ul{
	list-style-image: url("marker.gif");
	list-style-position: inside; 
}

/* Style Resort in Content */
.resort { 
	font-weight: bold;
	font-size: 115%;
	color: rgb(89, 113, 147);
}

#contact {
	font-size: 90%;
	padding-bottom: 70px; /*Add white space below contact*/
}

dt {
	color: #000033;
}

footer {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 12px;
	background-color: white; /*Add white background*/
	margin-left: 190px; /*Add margin to left of content*/
	padding-left: 30px; /*Add some white space next to navigation bar*/
	font-style: italic; /*Add italics*/
	padding-bottom: 20px; /*Add some white space below footer*/
}

